header(class="bg-fuchsia-500 shadow-lg z-40")
    div(class="container mx-auto px-4")
        div(class="flex justify-between items-center py-6")
            //- Contenedor Izquierdo: Hamburguesa y Logo
            div(class="flex items-center gap-4")
                //- --- CORRECCIÓN: Se añade 'md:hidden' para ocultar en escritorio ---
                button#hamburger-button(type="button" class="md:hidden text-white hover:text-fuchsia-200 focus:outline-none")
                    i(class="fas fa-bars text-2xl")
                a(href="/dashboard" class="hidden sm:block text-white text-3xl font-light")
                    span(class="font-extrabold") Damaris 
                    span(class="italic") Spa

            //- Contenedor para botones de la derecha
            div(class="flex items-center gap-4")
                if usuario && usuario.role && (usuario.role.nombre === 'Admin' )
                    a(href="/auditoria" title="Historial de Auditoría" class="cursor-pointer flex items-center justify-center bg-white/20 hover:bg-white/30 text-white font-bold h-10 w-10 rounded-full")
                        i(class="fas fa-history")
                    a(href="/inventario/ropa" title="Inventario de Ropa" class="cursor-pointer flex items-center justify-center bg-white/20 hover:bg-white/30 text-white font-bold h-10 w-10 rounded-full")
                        i(class="fas fa-tshirt")
                form(method="POST", action="/auth/logout")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(type="submit" title="Cerrar Sesión" class="cursor-pointer flex items-center justify-center bg-white/20 hover:bg-white/30 text-white font-bold h-10 w-10 rounded-full")
                        i(class="fas fa-sign-out-alt")